@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,900,400italic,700italic,900italic);


/*particles.js container */ 
#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%; 
  background-color: #00183C; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
  } 

  canvas { 
  position:absolute;
  bottom:0;
  display:block;
  vertical-align:bottom;
  position: static;
} 
/*end particles.js container*/

body {
    margin:0; 
    font:normal 75% Arial, Helvetica, sans-serif;
    background-color: #fdf9fd;
    color: #ffffff;
    /*font: 16px/1.25 'Raleway', sans-serif;*/
    text-align: center;
    margin:0;
}

#container {
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    min-height: 100vh;
    padding: 1em;
    width: 100%;
/*    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;*/
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 80em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*animated title*/
    h2 {
        animation: text-shadow 1.5s ease-in-out infinite;
        font-size: 5em;
        font-weight: 900;
        line-height: 1;
        z-index: 9999;
    }

    h2:hover {
        animation-play-state: paused;
    }

    a {
        color: #024794;
    }

    a:hover {
        text-decoration: none;
    }

    
    @keyframes text-shadow {
        0% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #0c2ffb, 
                0 0 0 #2cfcfd, 
                0 0 0 #fb203b, 
                0 0 0 #fefc4b;
        }

        20% {  
            transform: translateY(-1em);
            text-shadow: 
                0 0.125em 0 #0c2ffb, 
                0 0.25em 0 #2cfcfd, 
                0 -0.125em 0 #fb203b, 
                0 -0.25em 0 #fefc4b;
        }

        40% {  
            transform: translateY(0.5em);
            text-shadow: 
                0 -0.0625em 0 #0c2ffb, 
                0 -0.125em 0 #2cfcfd, 
                0 0.0625em 0 #fb203b, 
                0 0.125em 0 #fefc4b;
        }
        
       60% {
            transform: translateY(-0.25em);
            text-shadow: 
                0 0.03125em 0 #0c2ffb, 
                0 0.0625em 0 #2cfcfd, 
                0 -0.03125em 0 #fb203b, 
                0 -0.0625em 0 #fefc4b;
        }

        80% {  
            transform: translateY(0);
            text-shadow: 
                0 0 0 #0c2ffb, 
                0 0 0 #2cfcfd, 
                0 0 0 #fb203b, 
                0 0 0 #fefc4b;
        }
    }

    @media (prefers-reduced-motion: reduce) {
        * {
          animation: none !important;
          transition: none !important;
        }
    }

/*end animated title*/

iframe {
  display:inline-block;
  max-width: 100%;
}

.option-selector {
  margin-top: 75px;
  margin-bottom: 75px;
}

.img-option {
  /*transition: box-shadow .3s;*/
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius:10px;
  background: #fff;
  opacity: 0.5;
  width: 200px;
  height: auto;
  /*display: inline-block;*/
}

.img-option:hover {
  opacity:1;
  
}

.radio-item{
display: none !important;
}

.label-item {
opacity: 1;
}


label {
cursor: pointer;   
}

.radio-item:checked + label {
opacity: 1;
}

input[type=radio]:checked + label>img {
  opacity: 1;
}

input[type=radio]:checked + label>img {
  transform: 
    scale(2)
}

input[type=submit]{
  background: white;
  border: 10px solid white;
  font-size: 1.5em;
}

input[type=submit]:hover {
  opacity:.80;
}

input[type="submit"]:active {
  opacity:0.4;
}


@media screen and (max-width: 600px) { 
  .img-option{
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
  }
  h2{
    font-size: 4em;
  }
}

