.tap-target {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 14em;
  height: 16em;
  padding: 1em;
  margin: 10% auto;

  border-radius: 100%;

  font-size: 1.125em;
  text-align: center;
  color: #fff;
  background-color: #29e;

  cursor: pointer;
  touch-action: none;
}
/* ---- reset ---- */ 
body{ 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif; 
} 
canvas{ 
  display: block; vertical-align: bottom;
} 
/* ---- particles.js container ---- */ 
#particles-js{ 
  position:absolute;
  width: 100%;
  height: 100%; 
  background-color: #b61924; 
  background-image: url("");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
} 

/* ---- stats.js ---- */ 
.count-particles{ background: #000022; 
  position: absolute; 
  top: 48px; 
  left: 0; 
  width: 80px; 
  color: #13E8E9; 
  font-size: .8em; 
  text-align: left; 
  text-indent: 4px; 
  line-height: 14px; 
  padding-bottom: 2px; 
  font-family: Helvetica, Arial, sans-serif; 
  font-weight: bold; 
} 

.js-count-particles{
  font-size: 1.1em;
} 

#stats, .count-particles{ 
  -webkit-user-select: none; 
  margin-top: 5px; 
  margin-left: 5px; 
} 

#stats{ 
  border-radius: 3px 3px 0 0; 
  overflow: hidden; 
} 

.count-particles{ 
  border-radius: 0 0 3px 3px; 
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
